body {

    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    background-color:white;
    font-family:sans-serif;

    overflow-x: hidden; 
    
    }
    
    #navheader {
    
    background-image: linear-gradient(45deg, transparent 50%, white 50%, white 51%, transparent 51%), linear-gradient(45deg, transparent 50%, white 50%, white calc(50% + 10px), transparent calc(50% + 10px));
    background-color: #33ccff;
    background-position: left 35em top 0px, left 33em top 0px;
    background-repeat: no-repeat;
    
    
    margin:0px;
    padding:0px;
    position:fixed;
    
    width:100%;
    height:80px;
    
    box-shadow: 0px 0px 15px 0px grey;
    
    z-index:1;
    
    }
    
    div nav {
    
        margin-top: 38px;
        margin-left: 10%;
    
    }
    
    #navheader p{
    
        float:right;
    
        color:aliceblue;
        font-size:1.5em;
    
        margin-right:18%;
        position:relative;
        top:-55px;
    
        
    
    }
    
    .navitem {
        
        color:aliceblue;
        font-size: 1.8em;
        text-decoration:none;
        margin-right:15px;
        transition: color 0.35s ease-in-out;
    
    }
    
    .navitem:hover {
    
        color:#969696;    
        
    }
    
    #about {
    
        padding-top:80px;
        text-align:center;
    
    }
    
    #about p {
    
        width: 45em;
        margin: 0 auto;
    
    }  
    
    #experience {
        
        margin-left:10%;
        width:80%;
    
    
    }
    
    #experience h1 {
    
        margin-top: 40px;
     
    }
    
    
    #card_container {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

      }

    .exp_card {
    
        margin-top: 15px;
        margin-right: 2%;
        /* height: 520px; */
        width: 30%;
        border: 4px solid black;
        float:left;
        transition: border-color 0.35s ease-in-out;

        display:flex;
        flex-direction:column;


    }
    
    .exp_card:hover {
    
        border-color:grey;
    
    }
    
    .exp_card h2 {
    
        text-align:center;
        font-size:1.5em;
    
    }
    
    .exp_card hr {
    
        width: 45%;
    
    }
    
    .exp_card p {
    
        text-align:center;
        line-height: 1.5em;
        padding-left: 5%;
        padding-right: 5%;

    }
    
    .exp_card i {
    
        margin-top:40px;
        margin-left: 44%;
    
    }
    
    #software_development span {
    
        display: block;
        text-align:center;
        font-size:1.1em;
    
    
    }
    
    #skills {
    
        width:4em;
        margin-left:10%;
    
    }
    
    #projects {
    
        margin-left:10%;
    
    }
    
    #profile {
        
        margin-left:10%;
    
    }
    
    #resume-link {
    
        color: #337ab7;
        text-decoration:none;
    
    }
    
    #resume-link:visited {
    
        color: #337ab7;
    
    }
    
    #resume-link:hover {
    
        text-decoration:underline;
    
    }
    
    #connect {
    
        margin-left:10%;
    
    }
    
    #tabs {
    
        width:85%;
    
    }
    
    .img-card {
    
        width:250px;
        height:250px;
        position: relative;
        display: inline-block;
    
      }
      
    .img-card img {

        width:250px;
        height:250px;
    
    }
      
      .img-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.5s;
        display: flex;
    
      }
      
      .img-overlay p {
        color: white;
        font-size: 0.9rem;
        margin-top: 100px;
        text-align:center;
      }
      
      .img-card:hover .img-overlay {
        opacity: 1;
      }
    
    
    #connect form {
    
        margin-left:20%;
    
    }

    #form-top {
    
        height:0.5em;
        width: 36.5em;
    
    }
    
    #form-top input{
    
        width: 48%;
    
    }
    
    #message {
    
        margin-bottom: 5px;
        height: 5em;
        width: 43.2em;
    
    }

    #submit-button {
    
        color:aliceblue;
        margin-left: 225px;
        background-color: grey;
        border: 5px solid grey;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
        transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    
    }
    
    #submit-button:hover {
    
        background-color: #969696;
        border-color:#969696;
    
    }
    
    #footer {
        
        height: 100px;
        width:100%;
        background-color:grey;
        margin-top:25px;
    
    }
    
    #footer p {
        color: aliceblue;
        text-align:center;
        margin:0px;
        padding: 0px;
        padding-top:70px;
        
    }
    
    
    /* Media queries for different screen sizes */
    @media only screen and (max-width: 1200px) {
    
        #navheader {
    
            background-image: linear-gradient(45deg, transparent 50%, white 50%, white 51%, transparent 51%), linear-gradient(45deg, transparent 50%, white 50%, white calc(50% + 10px), transparent calc(50% + 10px));
            background-color: #33ccff;
            background-position: left 30em top 0px, left 28em top 0px;
            background-repeat: no-repeat;
            
            
            margin:0px;
            padding:0px;
            position:fixed;
            
            width:100%;
            height:80px;
            
            box-shadow: 0px 0px 15px 0px grey;
            
            z-index:1;
            
            }
    
    }
    
    @media only screen and (max-width: 960px) {

        #about-picture {

            width:70%;
            height:70%;

        }
    
        #navheader {
    
            background-image: linear-gradient(45deg, transparent 50%, white 50%, white 51%, transparent 51%), linear-gradient(45deg, transparent 50%, white 50%, white calc(50% + 8px), transparent calc(50% + 8px));
            background-color: #33ccff;
            background-position: left 20em top 0px, left 22em top 0px;
            background-repeat: no-repeat;
            
            
            margin:0px;
            padding:0px;
            position:fixed;
            
            width:100%;
            height:80px;
            
            box-shadow: 0px 0px 15px 0px grey;
            
            z-index:1;
            
            }
    
        #navdecoration {
    
            opacity:0;
    
        }
    
    }

    @media only screen and (max-width: 865px) {

        #connect form {
            
            margin-left: 5%;
        
        }

        #form-top {

            height:0.5em;
            width: 38.5em;
            margin-right:0px;
            padding-right:0px;
        
        }

        #form-top input {

            width:40%;

        }

        #message {

            width: 38em;
            margin-right:0px;
            
        }

        #submit-button {
    
            color:aliceblue;
            margin-left: 0px;
            background-color: grey;
            border: 5px solid grey;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        
            transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
            
            margin-left: 200px;

        }


    }
    
    @media only screen and (max-width: 747px) {
    
        .exp_card {
    
            margin-top: 15px;
            margin-left:8%;
            width: 80%;
            border: 4px solid black;
            float:none;
            transition: border-color 0.35s ease-in-out;
            
            margin-right:0px;
        }
    
    }

    @media only screen and (max-width: 710px) {

        #about p {
    
            width:35em;
            font-size: 1.1em;

        }

    }
    
    @media only screen and (max-width: 643px) {
    
        #about p {
    
            width:28em;
            font-size: 1.1em;
        }

        #navdecoration {
    
            opacity:0;
    
            }

        #connect form {
        
            margin-left: 0;
        
        }

        #form-top {

            height:0.5em;
            width: 37em;
            margin-right:0px;
            padding-right:0px;
        
        }

        #form-top input {

            width:40%;

        }

        #message {

            width: 36.5em;
            margin-right:0px;
            
        }

        #submit-button {
    
            color:aliceblue;
            margin-left: 0px;
            background-color: grey;
            border: 5px solid grey;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        
            transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
            
            margin-left: 200px;

        }
    
    }

    @media only screen and (max-width: 555px) {

        .navitem {
    
            color:aliceblue;
            font-size: 1.6em;
            text-decoration:none;
            margin-right:15px;
            transition: color 0.35s ease-in-out;
        
        }

        #form-top {
    
            height:0.5em;
            width: 30.8em;
            margin-right:0px;
        
        }
    
        #form-top input{
    
            width: 40%;
        
        }

        #message {
    
            width:30.7em;
        }
    
        #submit-button {
    
            color:aliceblue;
            margin-left:150px;
            background-color: grey;
            border: 5px solid grey;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
        
        }

    }
    
    @media only screen and (max-width: 504px) {

        .navitem {
    
            color:aliceblue;
            font-size: 1.4em;
            text-decoration:none;
            margin-right:15px;
            transition: color 0.35s ease-in-out;
        
        }

        #about p {
    
            width:30em;
            font-size: 0.9em;
        
        }
        
    
        #navdecoration {
    
            opacity:0;
    
        }
    
        #form-top {
    
            height:0.5em;
            width: 30.8em;
            margin-right:0px;
        
        }
    
        #form-top input{
    
            width: 40%;
            margin-right: 0px;
        
        }

        #message {
    
            width:30.7em;
        }
    
        #submit-button {
    
            color:aliceblue;
            margin-left:150px;
            background-color: grey;
            border: 5px solid grey;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
        
        }
        
    }
    
    @media only screen and (max-width: 470px) {
    
        #navheader {
    
            background-image: linear-gradient(45deg, transparent 50%, white 50%, white 51%, transparent 51%), linear-gradient(45deg, transparent 50%, white 50%, white calc(50% + 8px), transparent calc(50% + 8px));
            background-color: #33ccff;
            background-position: left 20em top 0px, left 22em top 0px;
            background-repeat: no-repeat;
            
            
            margin:0px;
            padding:0px;
            position:fixed;
            
            width:100%;
            height:80px;
            
            box-shadow: 0px 0px 15px 0px grey;
            
            z-index:1;
            
            }
        
        #about p {
    
            width:25em;
            font-size: 0.8em;
        }

        #connect form {
    
            margin-left:0;  
            height:50px;
            margin-bottom:100px;
    
        }
    
        #navdecoration {
    
            opacity:0;
    
        }
    
        #form-top {
    
            height:0.5em;
            width: 24em;
        
        }
    
        #form-top input{
    
            width: 40%;
        
        }
    
        #message {
    
            width:29.4em;
        }
    
        #submit-button {
    
            color:aliceblue;
            margin-left:115px;
            background-color: grey;
            border: 5px solid grey;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
        
        }
    
        .navitem {
        
            color:aliceblue;
            font-size: 1.2em;
            text-decoration:none;
            margin-right:16px;
            transition: color 0.35s ease-in-out;
        
        }

    }

    /* iPhone Landscape */
    @media screen and (max-device-width: 480px) and (orientation:landscape) {
        
        #message {
    
            width:40.7em;
            
        }
        
    }

